footer { 
    background-color: black;
    color: white;
}

.movie-card {
    width: 18rem; 
    margin: 2rem;
}

.movies-container {
    /* background-color: red; */
    padding-left: 3rem;
    padding-right: 3rem;
}

.display-flex{
    display: inline-block;
}

