#main-slider-container{
    width: 100%;
    height: 510px;
}

#slider{
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#slider::-webkit-scrollbar{
    display: none;
}

#main-slider-container {
    position: relative;
    display: flex;
    align-items: center;
}


.slider-card-title, .slider-card-description{
    margin: 5px 0px 5px 10px;
}

.slider-card-title{
    font-weight: 500;
    font-size:28px;
    margin: 2px;
    text-align: center;
    background-color: rgb(174, 182, 207)
}

.slider-card-description{
    opacity: 0.5;
    font-size: 13px;
    text-align: center;
    background-color: rgb(211, 233, 188)
}

.slider-card-image{
    width: 100%;
    height: 100%;
    background-color: rgb(240 240 240 / 80%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.slider-icon.left, .slider-icon.right {
    background: white;
    border-radius: 100%;
    position: absolute;
    opacity: 0.5;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.slider-icon.left{
    left: 0;
}

.slider-icon.right{
    right: 0;
}

.slider-icon.left:hover, .slider-icon.right:hover{
    opacity: 1;
}

.slider-card{
    width: 320px;
    height: 390px;
    background: white;
    border-radius: 10px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
    cursor: pointer;
}